.qw-dnd-upload {
  position: relative;
  width: 350px;
  height: 175px;
  border-radius: 3px;
  background: #f3f3f3;
  background: #f2f5f7;
  cursor: pointer;
  overflow-y: auto;
  overflow-x: hidden; }
  .qw-dnd-upload > .hint {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding-top: 55px; }
    .qw-dnd-upload > .hint > img {
      display: block;
      margin: 0 auto; }
    .qw-dnd-upload > .hint > span {
      display: block;
      color: #236aa2;
      margin: 0 auto;
      text-align: center; }
  .qw-dnd-upload > .container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 3px; }
    .qw-dnd-upload > .container .upload {
      position: relative;
      height: 25px;
      background: #fff;
      border: 1px solid #ccc;
      margin-bottom: 3px;
      border-radius: 3px; }
      .qw-dnd-upload > .container .upload span.title {
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        max-width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        padding: 3px;
        font-size: 12px; }
      .qw-dnd-upload > .container .upload div.progress {
        position: absolute;
        top: 0;
        left: 0;
        width: 0;
        max-width: calc(100% - 3px);
        background-color: #f2f5f7;
        background-color: #236aa2;
        color: white;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: clip;
        padding: 3px;
        font-size: 12px;
        height: 19px;
        border-radius: 3px; }
